<div class="container-fluid page h-full" *ngrxLet="errorResponse$ as error">
  <div class="container page-section">
    <h1 class="app-title">Activity Manager</h1>
    <!-------------------------------- display error -------------------------------->
    <div *ngIf="error.error != '' && error.error != undefined">
      <span class="alert alert-danger" role="alert">{{ error.error }}</span>
    </div>
    <!-------------------------------- display error -------------------------------->

    <!-------------------------------- search bar -------------------------------->
    <app-search></app-search>
    <!-------------------------------- search bar -------------------------------->

    <!-------------------------------- search result -------------------------------->
    <app-search-result></app-search-result>
    <!-------------------------------- search result -------------------------------->

    <!-------------------------------- existing result -------------------------------->
    <app-existing-result></app-existing-result>
    <!-------------------------------- existing result -------------------------------->
  </div>
</div>
